
 <div *ngFor="let product of products; index as i">
 <div class="padding_left main_single_product section-padding-top">
    <div class="single_product single_product_two">
        <div class="product_img tre_shirt_3">
            <img src="assets/images/product/tre-shirt-3.png" alt="DARK BLUE IMAGE" />
        </div>
        <div class="product_text_two product_text">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>{{ product.quantityProduct }}</p>
            <p>{{ product.code }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.weight }}</p>
            <a class="shop_now_btn" >SHOP NOW</a>
            <a class="shop_now_btn"  (click)="addtoshelf(i)"  *ngIf="add1 !== i" >ADD TO SHELF</a>   
            <div *ngIf="add1 === i">
                <input type="number" class="form-control" placeholder="enter shelf id" #idshelf>
                <button class="btn btn-primary" (click)="add(idshelf.value)">ADD</button>
            </div>
        </div>
    </div>
</div>
</div>




