<!--add header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a  (click)="onOpenModal(null, 'add')"><button class="btn btn-danger" type="button">Submit delivery </button></a>
             <a routerLink="SarraMaps"><button class="btn btn-danger" type="button">Maps</button></a>
             <a routerLink="formSarra"><button class="btn btn-danger" type="button">Forms</button></a>
          </li>
       </ul>
    </div>
  </nav>
  <div class="container " id="main-container">
  <div class="row">
    <div *ngFor="let delivery of deliveries" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             
          </div>
          
         </div>
          </div>
       </div>
    
  </div>
 
  <!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Submit your delivery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddPromotion(addForm)">
            <div class="form-group">
               <label for="name">Your location</label>
               <input type="text" ngModel name="destination_delivery" class="form-control" id="destination_delivery" placeholder="Enter your location" required>
            </div>
            <div class="form-group">
                <label for="name">Date</label>
                <input type="date" ngModel name="date_delivery" class="form-control" id="date_delivery" placeholder="Enter your location" required>
             </div>
             <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>

<div class="contentbar">                 
	<!-- Start row -->
	<div class="row">
		<!-- Start col -->
		<div class="col-md-12 col-lg-12 col-xl-12">
			<div class="card m-b-30">
				<div class="card-header">
					<h1>Your order</h1>
				</div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                                                                    
                                                        <th scope="col">Photo</th>
														<th scope="col">Date</th>
                                                        <th scope="col">Product</th>
                                                        
                                                        <th scope="col">Price</th>
                                                        <th scope="col" class="text-right">Total</th>
														
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    
                                                    <tr *ngFor="let d of orders" >
                                                        
                                                        <th scope="row">{{d.id}}1</th>
                                                        
                                                        <td><img src="https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_03.svg" class="img-fluid" width="35" alt="product"></td>
														<td>2021-05-14</td>
                                                        <td>Clothes</td>
                                                        
                                                        <td>$30</td>
                                                        <td class="text-right">$40</td>
                                                        <td ><button class="btn btn-danger btn-xs" (click)="updateFrais()"><span class="glyphicon glyphicon-remove"></span> price</button>

                                                        </td>
														
														

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="cart-footer text-right">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>
</div>

<!--truck-->

<!--displaying delivery-->
<div class="contentbar" >                 
	<!-- Start row -->
	<div class="row">
		<!-- Start col -->
		<div class="col-md-12 col-lg-12 col-xl-12">
			<div class="card m-b-30">
				<div class="card-header">
					<h4>This is the delivery that you have submitted</h4>
				</div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                                                                    
                                                        <th scope="col">Location</th>
														<th scope="col">Date</th>
                                                        
                                                        <th scope="col"> Shipping price</th>
                                                        
														
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let l of deliveries2" >
                                                        <td >{{l.id_delivery}}</td>												
                                                        <td>{{l.destination_delivery}}</td>
                                                        <td>{{l.date_delivery}}</td>
                                                        <td><p id="demo"></p></td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="cart-footer text-right">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

<div class="wrap">
	<img class="image truck-img" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/truck.png" alt="">
	<img class="image box-img" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/box.png" alt="">
	<img class="image box-img box-img2" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/box.png" alt="">
</div>

   
    