

<div class="contentbar">                
	<!-- Start row -->
	<div class="row">
		<!-- Start col -->
		<div class="col-md-12 col-lg-12 col-xl-12">
			<div class="card m-b-30">
				<div class="card-header">
					<h1>Your order</h1>
				</div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Action</th>                                               
                                                        <th scope="col">Photo</th>
														<th scope="col">Date</th>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Shipping price</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col" class="text-right">Total</th>
														<th scope="col">Submit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td><a href="#" class="text-danger"><i class="ri-delete-bin-3-line"></i></a></td>
                                                        <td><img src="https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_03.svg" class="img-fluid" width="35" alt="product"></td>
														<td>2021-05-14</td>
                                                        <td>Clothes</td>
                                                        <td>$10</td>
                                                        <td>$30</td>
                                                        <td class="text-right">$40</td>
														<td><a href="#" class="text-danger"><i class="ri-truck-line"></i></a></td>
														
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="cart-footer text-right">
                                        <a routerLink="SarraMaps"><button class="btn btn-danger" type="button">Maps</button></a>
<a routerLink="formSarra"><button class="btn btn-danger" type="button">Forms</button></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
</div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

<div class="wrap">
	<img class="image truck-img" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/truck.png" alt="">
	<img class="image box-img" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/box.png" alt="">
	<img class="image box-img box-img2" src="https://learndesigntutorial.com/wp-content/uploads/2021/03/box.png" alt="">
</div>
