<li *ngIf="authorityadmin" class="nav-item"  > <br>
<br>
<br>
<img src="assets/images/saida.jpg" alt="alternatetext">
<button  class= "display-btn" value="I'm HERE"type="button" routerLink="/ad2"> Add a new Ad ? </button>
<button  class= "displayy-btn" value="I'm HERE"type="button" routerLink="/ad3"> Ads managing </button>

<br>
<br>
<br>
<li>
<li *ngIf="authorityclient" class="nav-item"  > 
    
        <div  *ngIf="info.token" > 
        <tr *ngFor="let pa of pas">
          
           
         {{pa.name}}
        {{pa.categoryProduct}}
        </tr>
        
    </div>





    
</li>