<div class="form-group">
       
    <label for="Name"><span class="req">* </span> end date: <small> Please respect this format yyyy-mm-ddThh:mm
       </small></label>
    <input required type="text" [(ngModel)]="ads.idAdvertisment" name="idAdvertisment" id="idAdvertisment"
        class="form-control phone" maxlength="28" placeholder="Enter the in case you wanna update" />
        </div>
        <div class="form-group">
       
    <label for="Name"><span class="req">* </span> end date: <small> Please respect this format yyyy-mm-ddThh:mm
       </small></label>
    <input required type="text" [(ngModel)]="ads.enddate" name="enddate" id="enddate"
        class="form-control phone" maxlength="28" placeholder="Enter the end date" />
        </div>


<div class="form-group">
   
    <label for="firstname"> target view </label>
    <input class="form-control" type="text" [(ngModel)]="ads.targetviews" name="targetviews" id="txt" 
        placeholder="Enter the target number of views" />
    <div id="errFirst"></div>
    </div>


    <div class="form-group">
   
        <label for="firstname"> date of posting <small> Please respect this format yyyy-mm-ddThh:mm
        </small></label>
        <input class="form-control" type="text" [(ngModel)]="ads.dateAdvertisment" name="dateAdvertisment" id="txt" 
            placeholder="Enter the date" />
        <div id="errFirst"></div>
        </div>


<div class="form-group">
    
    <label for="lastname"> type of advertisement: </label>
    <div><select class="form-control" aria-label="Default select example" name="type" [(ngModel)]="ads.typeAdvertisement">
        <option disabled selected >Select the type</option>
        <option value="photo">photo</option>
        <option value="video">video</option> </select>
</div>
</div>

<div class="form-group">
   
    <label for="email"> cost </label>
    <input class="form-control" type="text" [(ngModel)]="ads.cost" name="cost"
        id="cost" placeholder="fullstack/backend/developer" />
    <div class="status" id="status"></div>
    </div>

<div class="form-group">
   
    <label for="email"> channel: </label>
    <input class="form-control"  type="text" [(ngModel)]="ads.channel" name="channel"
        id="channel" placeholder="which channel ?" />
    <div class="status" id="txt"></div>
</div>

<div class="form-group">
       
    <label for="Name"> User Id </label>
    <input required type="text" [(ngModel)]="ads.idUser" name="idUser" id="idUser"
        class="form-control phone" maxlength="28" placeholder="Enter the target">
        </div>

<div class="form-group">
    <input class="btn btn-failure" type="submit" name="submit_reg" value="Add " (click)="addingAd()" routerLink="/ad3">
</div>

<td class="text-center"><button class="btn btn-danger btn-xs" (click)="updatingAd(ads)" routerLink="/ad3"> Update</button></td>
           