

 <!-----------------------------USER---------------------->
 <div  *ngIf="info.token" >
    <div *ngIf="authorityclient" class="nav-item"  >
        
            
            
            <div class="container">
                <div class="main-body p-0">
                    <div class="inner-wrapper">
                        <!-- Inner sidebar -->
                        <div class="inner-sidebar">
                            <!-- Inner sidebar header -->
                            <div class="inner-sidebar-header justify-content-center">
                                <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal" routerLink="/contact">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                    NEW CLAIM
                                </button>
                            </div>
                            <!-- /Inner sidebar header -->
                
                            <!-- Inner sidebar body -->
                            <div class="inner-sidebar-body p-0">
                                <div class="p-3 h-100" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: -16px;">
                                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                                    <div class="simplebar-content" style="padding: 16px;">
                                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                            <button  class="nav-link nav-link-faded has-icon active" (click)="getAllClaims()">All Claims</button>
                                                            <button class="nav-link nav-link-faded has-icon" (click)="gettingBystatus()"> Answered Claim </button>
                                                            <button class="nav-link nav-link-faded has-icon"(click)="gettingBystatus2()"> No replies yet</button>
                                                           
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                                </div>
                            </div>
                            <!-- /Inner sidebar body -->
                        </div>
                        <!-- /Inner sidebar -->
                
                        <!-- Inner main -->
                        <div class="inner-main">
                            <!-- Inner main header -->
                            <div class="inner-main-header">
                                <div class="col-sm-6">
                                <section class="search-box">
                                    <input type="text" placeholder="Type to search.." name="subject" [(ngModel)]="subject">
                                    <button class ="search-btn" type="button" (click)="gettingBysubject()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                   
                                  </section>
                                 </div>
                                  
                                

                                
                            </div>
                            <!-- /Inner main header -->
                
                            <!-- Inner main body -->
                
                            <!-- Forum List -->
                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                              
            
                                <div class="card mb-2">
                                        <td *ngFor="let c of claims">
                                            <tr><a href="#" data-toggle="collapse" data-target=".forum-content"><img src="assets/images/chachia.jpg" class="mr-3 rounded-circle" width="50" alt="User" /></a></tr>
                                            <tr><strong>Claim Id </strong>{{c.idClaim}}</tr>
                                            <tr> <strong>Subject </strong>{{c.subject}}</tr> 
                                            <tr> <strong>Subject </strong>{{c.description}}</tr> 
                                            <tr> <strong>Status </strong>{{c.status}}</tr> 

                                        </td>
                                         
                                       
                                </div>  
                      
                            
                                

                       
                                
                            <!-- /Inner main body -->
                            </div>  
                               
                        <!-- /Inner main -->
                    </div>
                
                    

        </div>
      </div>
    </div>
           
    </div>
    











      <!--<section class="search-box">
        <div class="row">
            <div class="col-md-8">
          <input type="text" placeholder="Type to search.." name="subject" [(ngModel)]="subject">
            </div>
          
          <button class ="search-btn" type="button" (click)="gettingBysubject()">
              <i class="fas fa-search"></i>
          </button>
            
        </div>
        </section> -->



        <div  *ngIf="info.token" >
            <div *ngIf="authorityadmin" class="nav-item"  >
                
                <div class= "container" id="main-container">
           
                    <div class="main-body p-0">
                        <div class="inner-wrapper">
                            <!-- Inner sidebar -->
                            <div class="inner-sidebar">
                                <!-- Inner sidebar header -->
                                <div class="inner-sidebar-header justify-content-center">
                                    
                                </div>
                                <!-- /Inner sidebar header -->
                    
                                <!-- Inner sidebar body -->
                                <div class="inner-sidebar-body p-0">
                                    <div class="p-3 h-100" data-simplebar="init">
                                        <div class="simplebar-wrapper" style="margin: -16px;">
                                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                                            <div class="simplebar-mask">
                                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                                        <div class="simplebar-content" style="padding: 16px;">
                                                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                                <button  class="nav-link nav-link-faded has-icon active" (click)="getAllClaims()">All Claims</button>
                                                                <button class="nav-link nav-link-faded has-icon" (click)="gettingBylevelA()">Ascending order</button>
                                                                <button class="nav-link nav-link-faded has-icon" (click)="gettingBylevelD()">Descending order</button>
                                                                <button class="nav-link nav-link-faded has-icon" (click)="gettingBystatus()"> Answered Claim </button>
                                                                <button class="nav-link nav-link-faded has-icon"(click)="gettingBystatus2()"> No replies yet</button>
                                                               
                                                            </nav>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                                        </div>
                                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                                    </div>
                                </div>
                                <!-- /Inner sidebar body -->
                            </div>
                            <!-- /Inner sidebar -->
                    
                            <!-- Inner main -->
                            <div class="inner-main">
                                <!-- Inner main header -->
                                <div class="inner-main-header">
                                    <div class="col-sm-6">
                                    <section class="search-box">
                                        <input type="text" placeholder="Type to search.." name="subject" [(ngModel)]="subject">
                                        <button class ="search-btn" type="button" (click)="gettingBysubject()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                       
                                      </section>
                                     </div>
                                      
                                    
        
                                    
                                </div>
                                <!-- /Inner main header -->
                    
                                <!-- Inner main body -->
                    
                                <!-- Forum List -->
                                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                                  
                                    
                                    <div class="card mb-2">
                                        
                                        <table class="table" >
                                            <thead>
                                                <tr >
                                                    
                                                    <th scope="col" >Claim Id</th>
                                                    <th scope="col">Client Id</th>
                                                    <th scope="col">Subject</th>
                                                    <th scope="col">System Problem </th>
                                                    <th scope="col">Delivery Problem</th>
                                                    <th scope="col">Product Problem</th>
                                                    <th scope="col">Claimed Product Id</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">level </th>
                                                    
                                                    <th scope="col">State</th>
                                                    <th scope="col">Action</th>
                                                    
                                                    <th scope="col" >Answer</th>
                                                    
                                                </tr >
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of claims" >
                                                    
                                                    <th>{{c.idClaim}}</th>
                                                    <td>{{c.user.idUser}}</td>
                                                    <td>{{c.subject}}</td>
                                                    <td>{{c.systemProblem}}</td>
                                                    <td>{{c.deliveryProblem}}</td>
                                                    <td>{{c.productProblem}}</td>
                                                    <td>{{c.productWithProb}}</td>
                                                    <td>{{c.date}}</td>
                                                    <td>{{c.description}}</td>
                                                    <td>{{c.level}}</td>
                                                    
                                                    <td>{{c.status}}</td>
                                                    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletingClaim(c.idClaim)"> Delete</button> 
                                                    <a (click)="onOpenModal(c,'edit')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a></td>
                                                    <td>{{c.decision}}</td>
                                                
                                                  </tr>
                                            </tbody>
                                            </table>
                                                <!-- Edit Modal -->
  <div class="modal fade" id="updateClaimModal" tabindex="-1" role="dialog" aria-labelledby="claimEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="claimEditModalLabel">Answering the claim {{editClaim?.idClaim}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">

                <label for="idClaim">Claim N° </label>
                <input type="text" ngModel="{{editClaim?.idClaim}}" name="idClaim" class="form-control" id="idClaim" placeholder="idClaim">
                   </div>

                   <div class="form-group">
                    <label for="idUser">Client</label>
                    <input type="text" ngModel="{{editClaim?.user.idUser}}" name="idUser" class="form-control" id="idUser" placeholder="idUser"> 
                 </div>
                <div class="form-group">
                   <label for="subject">Subject</label>
                   <input type="text" ngModel="{{editClaim?.subject}}" name="subject" class="form-control" id="subject" placeholder="subject"> 
                </div>
                <div class="form-group">
                    <label for="systemProblem">System Problem</label>
                    <input type="text" ngModel="{{editClaim?.systemProblem}}" name="systemProblem" class="form-control" id="systemProblem" placeholder="systemProblem"> 
                 </div>
                 <div class="form-group">
                    <label for="productProblem">Product Problem</label>
                    <input type="text" ngModel="{{editClaim?.productProblem}}" name="productProblem" class="form-control" id="productProblem" placeholder="productProblem"> 
                 </div>
                 <div class="form-group">
                    <label for="deliveryProblem">Delivery Problem</label>
                    <input type="text" ngModel="{{editClaim?.deliveryProblem}}" name="deliveryProblem" class="form-control" id="deliveryProblem" placeholder="deliveryProblem"> 
                 </div>
                 <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" ngModel="{{editClaim?.description}}" name="description" class="form-control" id="description" placeholder="description"> 
                 </div>
                 <div class="form-group">
                    <label for="decision">Our Answer </label>
                    <input type="text" ngModel="{{editClaim?.decision}}" name="decision" class="form-control" id="decision" placeholder="decision"> 
                 </div>
                 <div class="form-group">
                    <label for="level">level</label>
                    <input type="text" ngModel="{{editClaim?.level}}" name="level" class="form-control" id="level" placeholder="level"> 
                 </div>
                 <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" ngModel="{{editClaim?.status}}" name="status" class="form-control" id="status" placeholder="status"> 
                 </div>
                 <div class="form-group">
                    <label for="date">Date Of Posting</label>
                    <input type="text" ngModel="{{editClaim?.date}}" name="date" class="form-control" id="date" placeholder="date"> 
                 </div>

                 <div class="form-group">
                    <label for="productWithProb">Product with issue</label>
                    <input type="text" ngModel="{{editClaim?.productWithProb}}" name="productWithProb" class="form-control" id="productWithProb" placeholder="productWithProb"> 
                 </div>

                <div class="modal-footer">
                   <button type="button" id="update-claim-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="answeringClaim(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Save changes</button> 
                </div>
             </form>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>
                                             
                                           
                                    </div>  
                          
                                
                                    
        
                           
                                    
                                <!-- /Inner main body -->
                                </div>  
                                   
                            <!-- /Inner main -->
                        </div>
                    
                        
        
            </div>
          </div>









          <div  *ngIf="info.token" >
            <div *ngIf="!authority" class="nav-item"  >


            </div>
          </div>