
<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            
            <div id="main-container" class="col-lg-8 col-md-12 left-box">
                <div>
                    <a *ngIf="authoritymanager || authorityadmin" class="btn btn-outline-secondary" (click)="onOpenModal(null,'add')">ADD EVENT</a>
                   
                    </div>
                
                <div class="card single_post" *ngFor="let event of events" >
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="{{event.image_URL}}" alt="First slide">
                        </div>
                        <h3><a href="blog-details.html">{{event.eventName}}</a></h3>
                        <p>{{event.description}}</p>
                        <p>{{event.raisedAmount_event}}</p>
                        <p>{{event.date_event}}</p>
                        <p>{{event.duration}}</p>
                        <p>{{event.nombredeplaceinitiale}}</p>
                        <p>{{event.nombreplace}}</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a *ngIf="authoritymanager || authorityadmin" href="javascript:void(0);" class="btn btn-outline-secondary" (click)="onOpenModal(event,'delete')">DELETE</a>
                            <a *ngIf="authoritymanager || authorityadmin" href="javascript:void(0);" class="btn btn-outline-secondary" (click)="onOpenModal(event,'edit')">UPDATE</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <!--div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://via.placeholder.com/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://via.placeholder.com/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://via.placeholder.com/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div-->
                                        
                <!--ul class="pagination pagination-primary">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                </ul-->                
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="body search">
                        <div class="input-group m-b-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">                                    
                        </div>
                    </div>
                </div>
                <!--div class="card">
                    <div class="header">
                        <h2>Categories Clouds</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li><a href="javascript:void(0);">eCommerce</a></li>
                            <li><a href="javascript:void(0);">Microsoft Technologies</a></li>
                            <li><a href="javascript:void(0);">Creative UX</a></li>
                            <li><a href="javascript:void(0);">Wordpress</a></li>
                            <li><a href="javascript:void(0);">Angular JS</a></li>
                            <li><a href="javascript:void(0);">Enterprise Mobility</a></li>
                            <li><a href="javascript:void(0);">Website Design</a></li>
                            <li><a href="javascript:void(0);">HTML5</a></li>
                            <li><a href="javascript:void(0);">Infographics</a></li>
                            <li><a href="javascript:void(0);">Wordpress Development</a></li>
                        </ul>
                    </div>
                </div-->
                <div class="card">
                    <div class="header">
                        <h1 style="color:rgb(240, 86, 137);  font-family: cursive; text-align: center;">Store's Pool</h1>                        
                    </div>
                    <div class="body widget popular-post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_post">
                                    <p class="m-b-0">Here where you can donate to help us organize more events for you </p>
                                    <span><p style="color:rgb(151, 192, 245);  font-family: verdana; text-align: center;">"No act of kindness, no matter how small, is ever wasted"</p></span>
                                    <div class="img-post">
                                        <img src="https://www.atlantamagazine.com/wp-content/uploads/sites/4/2020/03/donate_getty.jpg" alt="Awesome Image">                                        
                                    </div>                                            
                                </div>
                                <div class="single_post">
                                    <p style="color:rgb(16, 63, 124); font-family: Georgia, serif; font-size: 20px; font-family: verdana;">Pool Amount:</p>
                                    <div *ngFor="let pool of pools">
                                    <span> <h3 style="text-align: center; border: 2px solid powderblue; margin: 20px; font-size: 30px; font-family: verdana;
                                        ">{{pool.amount_pool}} DT</h3></span>
                                    </div>
                                    <div id="global">
                                        <a  class="shop_now_btn" (click)="pay()">DONATE</a>
                                       
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="authoritymanager || authorityadmin" class="card">
                    <div class="header">
                        <h1 style="color:rgb(240, 86, 137);  font-family: cursive; text-align: center;">Donor List</h1>
                    </div>
                    <!--div class="body widget">
                        <ul class="list-unstyled instagram-plugin m-b-0">
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="https://via.placeholder.com/80x80/FFB6C1/000000" alt="image description"></a></li>
                        </ul>
                    </div-->

                    <div  *ngFor="let donation of donations">
                        <ul  id="aman">
                            <li id="belehy">
                              Username: {{donation.username}}
                            </li>
                            <li id="belehy"> Date: {{donation.date}}</li>
                            <li id="belehy"> Amount: {{donation.amount_donation}} DT </li>
                        </ul>

                    </div>
                    
                   
                    
                </div>
                <!--div class="card">
                    <div class="header">
                        <h2>Email Newsletter <small>Get our products/news earlier than others, let’s get in touch.</small></h2>
                    </div>
                    <div class="body widget newsletter">                        
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Email">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>

    </div>
</div>



<!-- Add Shelf Modal -->
<div class="modal fade" id="addShelfModal" tabindex="-1" role="dialog" aria-labelledby="addShelfModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addShelfModalLabel">Add Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddShelves(addForm)">  <!--(ngSubmit)="onAddEmloyee(addForm)"-->
            <div class="form-group">
               <label for="typeShelf">Event Name</label>
               <input type="text" ngModel name="eventName" class="form-control" id="typeShelf" placeholder="name"  required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">Event Amount</label>
                <input type="number" ngModel name="raisedAmount_event" class="form-control" id="lastNameUser" placeholder="amount"  required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">Duration</label>
                <input type="number" ngModel name="duration" class="form-control" id="lastNameUser" placeholder="Duration"  required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">Seat's Number</label>
                <input type="number" ngModel name="nombreplace" class="form-control" id="lastNameUser" placeholder="places"  required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">Description</label>
                <input type="text" ngModel name="description" class="form-control" id="lastNameUser" placeholder="description"  required>
            </div>
            <div class="form-group">
               <label for="branch">Event Image URL</label>
               <input type="file" name="image_URL"  class="form-control" [(ngModel)]="image_URL" 
                 data-toggle="tooltip" data-placement="right" title="Enter Product Image URL" accept="image/*" (change)="addImage($event)" >
             </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-primary btn-lg" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>

    <!--delete modal-->

    <!-- Delete Modal -->
  <div class="modal fade" id="deleteShelfModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Event</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete the event {{deleteEvent?.eventName}} </p> <!--{{deleteEmployee?.firstNameUser}} {{deleteEmployee?.lastNameUser}}?-->
             <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">No</button>
                <button (click)="onDeleteShelves(deleteEvent?.idEvent)"class="btn btn-outline-danger btn-lg" data-dismiss="modal">Yes</button> <!--(click)="onDeleteEmloyee(deleteEmployee?.idUser)" -->
             </div>
          </div>
       </div>
    </div>
  </div>


  <!-- Edit Modal -->
  <div class="modal fade" id="updateShelfModal" tabindex="-1" role="dialog" aria-labelledby="shelfEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateShelfModalLabel">Edit Shelf {{editEvent?.eventName}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <input type="hidden" ngModel="{{editEvent?.idEvent}}" name="idEvent" class="form-control" id="idEvent" placeholder="idEvent">
                <input type="hidden" ngModel="{{editEvent?.raisedAmount_event}}" name="raisedAmount_event" class="form-control" id="raisedAmount_event" placeholder="raisedAmount_event">
                <input type="hidden" ngModel="{{editEvent?.date_event}}" name="date_event" class="form-control" id="date_event" placeholder="date_event">
                <input type="hidden" ngModel="{{editEvent?.nombredeplaceinitiale}}" name="nombredeplaceinitiale" class="form-control" id="nombredeplaceinitiale" placeholder="image_URL">
                <input type="hidden" ngModel="{{editEvent?.image_URL}}" name="image_URL" class="form-control" id="image_URL" placeholder="image_URL">

                <div class="form-group">
                   <label for="typeShelf">Event Name</label>
                   <input type="text" ngModel="{{editEvent?.eventName}}" name="eventName" class="form-control" id="typeShelf" placeholder="typeShelf"> <!--ngModel="{{editEmployee?.firstNameUser}}"-->
                </div>
                <div class="form-group">
                    <label for="lastNameUser">Description</label>
                    <input type="text" ngModel="{{editEvent?.description}}" name="description" class="form-control" id="description" placeholder="description"> <!-- ngModel="{{editEmployee?.lastNameUser}}" name="lastNameUser"-->
                 </div>
                 <div class="form-group">
                    <label for="lastNameUser">Duration</label>
                    <input type="number" ngModel="{{editEvent?.duration}}" name="duration" class="form-control" id="duration" placeholder="duration"> <!-- ngModel="{{editEmployee?.lastNameUser}}" name="lastNameUser"-->
                 </div>
                 <div class="form-group">
                    <label for="lastNameUser">seat's number</label>
                    <input type="number" ngModel="{{editEvent?.nombreplace}}" name="nombreplace" class="form-control" id="nombreplace" placeholder="nombreplace"> <!-- ngModel="{{editEmployee?.lastNameUser}}" name="lastNameUser"-->
                 </div>

                <div class="modal-footer">
                   <button type="button" id="update-shelf-form" data-dismiss="modal" class="btn btn-outline-secondary btn-lg">Close</button>
                   <button (click)="onUpdateShelves(editForm.value)"  data-dismiss="modal" class="btn btn-outline-primary btn-lg" >Save changes</button> <!--(click)="onUpdateEmloyee(editForm.value)"-->
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  



  