<div *ngFor="let product of products; index as i">
    <div class="padding_left main_single_product section-padding-top">
       <div class="single_product single_product_two">
           <div class="product_img tre_shirt_3">
               <img src="{{product.image_URL}}"  alt="DARK BLUE IMAGE" />
           </div>
           <div class="product_text_two product_text">
               <h1>{{ product.name }}</h1>
               <p>{{ product.description }}</p>
               <p>{{ product.quantityProduct }}</p>
               <p>{{ product.code }}</p>
               <p>{{ product.price }}</p>
               <p>{{ product.weight }}</p>
               <a *ngIf="authoritymanager || authorityadmin && add2 !== i " class="shop_now_btn" (click)="Quantity(i)" >MODIFY QUANTITY</a>
               <a *ngIf="authoritymanager || authorityadmin && add1 !== i" class="shop_now_btn"  (click)="addtoshelf(i)"   >ADD TO SHELF</a>
               <div *ngIf="add1 === i">
                <input type="number" class="form-control" placeholder="enter shelf id" #idshelf>
                <button class="btn btn-outline-success btn-lg " (click)="add(idshelf.value)">ADD</button>
            </div>
            <div *ngIf="add2 === i"> 
            <input type="number" class="form-control"  placeholder="enter quantity" #quantity>
            <button type="button" class="btn btn-outline-dark btn-lg " (click)="addQ(quantity.value)" >ADD QUANTITY</button>
            <button (click)="resetQ()" type="button" class="btn btn-outline-danger btn-lg">RESET QUANTITY</button>
            <button (click)="decQuantity()" class="btn btn-outline-secondary btn-lg"><i class="fa fa-minus"></i>Decrement the quantity</button>
            
            </div>
            <!--div><button *ngIf="authoritymanager"  (click)="resetQ()" type="button" class="btn btn-outline-danger">RESET QUANTITY</button></div-->
           </div>
       </div>
       </div>
   </div>
   