<!-----------------------------CLIENT---------------------->
<div  *ngIf="info.token" >
    <div *ngIf="authorityclient" class="nav-item"  >
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
       
                    <label for="Name"> iD: <small>This will be your login user
                            name</small> </label>
                    <input required type="text" [(ngModel)]="idUser" name="idUser" id="idUser"
                        class="form-control phone" maxlength="28" placeholder="Enter your fullname..." />
                        </div>
   
    <div class="form-group">
       
    <label for="Name"><span class="req">* </span> subject: <small>This will be your login user
            name</small> </label>
    <input required type="text" [(ngModel)]="subject" name="subject" id="subject"
        class="form-control phone" maxlength="28" placeholder="Enter your fullname..." />
        </div>


<div class="form-group">
   
    <label for="firstname"> system problem: </label>
    <input class="form-control" type="text" [(ngModel)]="systemProblem" name="systemProblem" id="txt" 
        placeholder="Enter valid email address" />
    <div id="errFirst"></div>
    </div>


<div class="form-group">
    
    <label for="lastname"> delivery problem : </label>
    <input class="form-control" type="text" [(ngModel)]="deliveryProblem" name="deliveryProblem" id="txt"
        placeholder="Total year of experience"  />
    <div id="errLast"></div>
</div>

<div class="form-group">
   
    <label for="email"> product problem: </label>
    <input class="form-control" type="text" [(ngModel)]="productProblem" name="productProblem"
        id="email" placeholder="fullstack/backend/developer" />
    <div class="status" id="status"></div>
    </div>

    <div class="form-group">
   
        <label for="email"> product with problem </label>
        <input class="form-control" type="text" [(ngModel)]="productWithProb" name="productWithProb"
            id="email" placeholder="" />
        <div class="productWithProb" id="productWithProb"></div>
        </div>

<div class="form-group">
   
    <label for="email"> description: </label>
    <input class="form-control"  type="text" [(ngModel)]="description" name="description"
        id="email" placeholder="fullstack/backend/developer" />
    <div class="status" id="txt"></div>
</div>

<div class="form-group">
    <input class="btn btn-failure" type="submit" name="submit_reg" value="Send Message" (click)="addingClaim()">
</div>
    
<button type= "button" routerLink="/displayClaim">Click on meeeeeeeee</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

<!-----------------------------CLIENT---------------------->













<!-----------------------------USER---------------------->
