
 <div class="container" id="main-container">
 <div class="row">
 <div>
 <a *ngIf="authoritymanager" class="shop_now_btn" (click)="onOpenModal(null,'add')">ADD MORE CATEGORIES</a>
 <li class="searchbox">
    <input type="search" (ngModelChange)="searchShelfs(key.value)" #key="ngModel" ngModel name="search"  placeholder="Search......" class="searchbox-input" onkeyup="buttonUp();" required>
        <!--input type="submit" class="searchbox-submit" value=""-->
         <span class="searchbox-icon"><i class="fa fa-search"></i></span>
        </li>
 </div>
 <!--div>
<li class="searchbox">
 <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
     <input type="submit" class="searchbox-submit" value="">
      <span class="searchbox-icon"><i class="fa fa-search"></i></span>
     </li>
</div-->

<div *ngFor="let shelf of shelfs">
    
    <div class="padding_right main_single_product">
        <div class="single_product">
            <div class="product_img">
                <img src="assets/images/product/tre-shirt-1.jpg" alt="DARK BLUE IMAGE" />
            </div>
            <div class="product_text dark_product">
                <h1>{{shelf.typeShelf}}</h1>
            </div>
        </div>
    </div>

    <div class="padding_left main_single_product">
    <div class="single_product single_product_two">
        <div class="product_img">
            <img src="assets/images/product/tre-shirt-1.jpg" alt="DARK BLUE IMAGE" />
        </div>
        <div class="product_text_two product_text">
            <h1>{{shelf.typeShelf}}</h1>
            <p>{{shelf.description}}</p>
            <a *ngIf="authoritymanager" class="shop_now_btn" (click)="onOpenModal(shelf,'delete')">DELETE</a>
            <a *ngIf="authoritymanager" class="shop_now_btn" (click)="onOpenModal(shelf,'edit')">UPDATE</a>
        </div>
    </div>
</div>
</div>
</div>
</div>


<!-- Add Shelf Modal -->
<div class="modal fade" id="addShelfModal" tabindex="-1" role="dialog" aria-labelledby="addShelfModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addShelfModalLabel">Add Shelf</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddShelves(addForm)">  <!--(ngSubmit)="onAddEmloyee(addForm)"-->
            <div class="form-group">
               <label for="typeShelf">Type Shelf</label>
               <input type="text" ngModel name="typeShelf" class="form-control" id="typeShelf" placeholder="Type Shelf" required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">description</label>
                <input type="text" ngModel name="description" class="form-control" id="lastNameUser" placeholder="Last Name" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>


    <!-- Edit Modal -->
  <div class="modal fade" id="updateShelfModal" tabindex="-1" role="dialog" aria-labelledby="shelfEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateShelfModalLabel">Edit Shelf {{editShelf?.typeShelf}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <input type="hidden" ngModel="{{editShelf?.idShelf}}" name="idShelf" class="form-control" id="idShelf" placeholder="idShelf">

                <div class="form-group">
                   <label for="typeShelf">Type Shelf</label>
                   <input type="text" ngModel="{{editShelf?.typeShelf}}" name="typeShelf" class="form-control" id="typeShelf" placeholder="typeShelf"> <!--ngModel="{{editEmployee?.firstNameUser}}"-->
                </div>
                <div class="form-group">
                    <label for="lastNameUser">description</label>
                    <input type="text" ngModel="{{editShelf?.description}}" name="description" class="form-control" id="description" placeholder="description"> <!-- ngModel="{{editEmployee?.lastNameUser}}" name="lastNameUser"-->
                 </div>

                <div class="modal-footer">
                   <button type="button" id="update-shelf-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateShelves(editForm.value)"  data-dismiss="modal" class="btn btn-primary" >Save changes</button> <!--(click)="onUpdateEmloyee(editForm.value)"-->
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteShelfModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Deliverer</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete the shelf {{deleteshelf?.typeShelf}} </p> <!--{{deleteEmployee?.firstNameUser}} {{deleteEmployee?.lastNameUser}}?-->
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteShelves(deleteshelf?.idShelf)"class="btn btn-danger" data-dismiss="modal">Yes</button> <!--(click)="onDeleteEmloyee(deleteEmployee?.idUser)" -->
             </div>
          </div>
       </div>
    </div>
  </div>

  


